<!DOCTYPE html>
<html>
  <head>
    <title>LabFix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <h6> <%= link_to 'homepage', root_path%> </h6>
    <%= yield  %>
    <nav>
      <ul>
        <li>
          <%= link_to 'Books', books_path%>
        </li>
        <li>
          <%= link_to 'Movies', movies_path%>
        </li>
        <li>
          <%= link_to 'Ingredients', ingredients_path%>
        </li>
        <li>
          <%= link_to 'Paintings', paintings_path%>
        </li>
      </ul>
    <nav>
  </body>
</html>
